<!DOCTYPE html>
<head>
  <title>Create Drink</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Project Stylesheet -->
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <link rel="icon" href="/static/images/boba-icon.png">
</head>
<body>
  <div class="container">
    <h1>Create a drink!</h1>
    <p>
      Let's add a drink!</a>
    </p>
    <form action="/drinks/create" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="drinkName">Drink Name</label>
          <input name="drink-name" type="text" required class="form-control" id="drinkName" placeholder="Drink Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputSize">Size</label>
          <select name="size" id="inputSize" class="form-control">
            <option>Small</option>
            <option selected>Large</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputIceLevel">Ice Level</label>
          <select name="ice-level" id="inputIceLevel" class="form-control">
            <option selected value=100>100%</option>
            <option value=70>70%</option>
            <option value=50>50%</option>
            <option value=30>30%</option>
            <option value=0>0%</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputSugarLevel">Sugar Level</label>
          <select name="sugar-level" id="inputSugarLevel" class="form-control">
            <option selected value=100>100%</option>
            <option value=70>70%</option>
            <option value=50>50%</option>
            <option value=30>30%</option>
            <option value=0>0%</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputToppings">Toppings</label>
          <select name="toppings" multiple id="inputToppings" class="form-control">
            <option selected value="none">None</option>
            <option value="boba_regular">Regular Boba</option>
            <option value="boba_tiny">Tiny Boba</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>

</body>